{% extends 'personas/base.html' %}

{% block content %}
<h1>Lista de personas</h1>
<table>
    <thead>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.rut }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>
                    <a href="{% url 'editar_persona' persona.pk %}">Editar</a>
                    <form method="POST" action="{% url 'eliminar_persona' persona.pk %}">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create' %}">Crea persona</a>
{% endblock %} 
    